.contenedor{
    display: grid;
    grid-template-columns: 50px auto 50px ;
    grid-template-rows: auto auto auto auto 80px;
    background-image: url("../imagenes/prueba3.jpeg");
}

.menu{
  grid-column: 1/4;
  grid-row: 1/2;
}

.cartas{
  /* background-image: url("../../prueba3.jpeg"); */
  grid-column: 2/3;
  grid-row: 3/4;
  position:relative;
  padding-top: 2%;

  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 29rem 29rem;
  padding-left: 4%;
}

.pagi{
  grid-row: 4/5;
  grid-column: 2/4;

  text-align: center;
  font-size:15px;
  display:flex;
  justify-content:space-evenly;
}

.cargandoDiv{
  text-align: center;
  padding-top: 200px;
     background-color: white;
}

.cargando {
    height: 20vmin;
    pointer-events: none;
  }

@media (prefers-reduced-motion: no-preference) {
  .cargando {
    animation: cargando infinite 1s linear;
  }
}
  
@keyframes cargando {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}