.contenedor{
    display: grid;
    grid-template-columns: 40px auto 50px ;
    grid-template-rows: 100px 52rem 2rem;
    background-image: url("../imagenes/prueba3.jpeg");
    height: 115%;
}

.menu{
  grid-column: 1/4;
  grid-row: 1/2;
}

.cartas{
  /* background-image: url("../../prueba3.jpeg"); */
  grid-column: 2/3;
  grid-row: 2/4;
  position:relative;
  padding-top: 2%;

  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 25rem 10rem;
  padding-left: 4%;
}

.pagi{
  grid-row: 3/5;
  grid-column: 2/4;

  text-align: center;
  font-size:15px;
  height: 5px;

}

.cargandoDiv{
  text-align: center;
  padding-top: 200px;
     background-color: white;
}

.cargando {
    height: 20vmin;
    pointer-events: none;
  }

@media (prefers-reduced-motion: no-preference) {
  .cargando {
    animation: cargando infinite 1s linear;
  }
}
  
@keyframes cargando {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}