.divImagen{
    background-image: url("../../bienvenido3.jpeg") ;
    /* height: 781px; seria en imagen grande */
    height: 649px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.divboton{
    top: 21.5rem;
    left: 35%;
    border: 0;
    margin: 0;
    padding: 0;
    position:absolute;
    
}

.imgBoton{
    padding: 0;
    border: 0;
    margin: 0;
    width: 55%;
} 


