.menu{
    height: 80px; 
    width: 100%;
    background-image: url("../imagenes/nav_Joseph.png");
    /* border: 10px solid pink; */
    display:inline-flex

}

.logo a img{
    /* position:absolute; */
    width: 155px;

}

.homePage a img {
    width: 175px;
    padding-left: 900px;
}

.bestFriend a img {
    width: 161px;
    padding-left: 20px;
}







