
.contenedorGeneral{
    background-image: url("../imagenes/prueba3.jpeg");
    width: auto;
    height: 1000px;
    padding: 0;
    margin: 0;
}

.menu{
    height: 20px;
    /* border: 10px solid pink; */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    font-size: large;
    margin-top: 10px;
}

    

.container{
    border: blueviolet;
    contain:content;
    width: 15rem;
    height: 30rem;   
    border: 5px solid red;
}

.containerImg{
    height: 200px;
    width: 200px;
}

.imagen{
    width: 40%;
    height: 40%;
    position: absolute;
}

.text{
    position: absolute;
}

.cargandoDiv{
    text-align: center;
    padding-top: 200px;
}

.cargando {
    height: 20vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .cargando {
      animation: cargando infinite 1s linear;
    }
}
  
@keyframes cargando {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}