.list{
    display:flex;
    justify-content: center;
    align-items:center;
}

.list ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    height:0
    
    
}

.list ul li{
    display:inline-flex;
    justify-content: center;
    text-decoration: none;
}

.list ul li a{
    margin: 2px;
    padding: 8px;
    /* background-image: url("../imagenes/botonhuesitos.png"); */
}

.list ul li:hover {
    background-color: rgb(9, 78, 156);
    color: white;

    border-radius: 60%;
    border: 0.5px solid;
    margin: 2px;
    padding: 1px;
    -webkit-transform:scale(1.3);
    -moz-transform:scale(1.3);
    -ms-transform:scale(1.3);
    -o-transform:scale(1.3);
    transform:scale(1.3);
}

.list ul li a:hover{
    color: white;
    
}