.list{
    display:flex;
    justify-content: center;
    align-items:center;
}

.list ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    height:0
    
    
}

.list ul li{
    display:inline-flex;
    justify-content: center;
    text-decoration: none;
}

.list ul li a{
    padding: 8px;
}

.list ul li:hover {
    background-color: rgb(9, 78, 156);
    color: white;
}

.list ul li a:hover{
    color: white;
    
}