.container{
    position: relative ;
    border: 5px;
    height: 25rem;
    line-height: 120%;
    margin: 0.5rem;

}

.container h3{
    margin: 0.5rem;
}

.container h4{
    margin: 0.5rem;
}

.imagen{
    width: 15rem;
    height: 12rem;
}
